<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
</head>
<style>
  *{
    padding: 0 0;
  }
  body{
    padding: 0;
    margin: 0;
  }
  p{
    margin: 0;
  }
  a{
    text-decoration: none;
    color: #222222;
  }
  .input:focus{
    outline: none;
  }
  button:focus{
    outline: none;
  }
</style>
<body>
  <div class="home">
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/carousel.ejs') %>
    <div class="contents">
      <section class="feature-container">
        <ul class="feature-list">
          <li class="list1">
            <div class="feature">
              Summer sale
              <a><button class="feature-btn">up to 40% off</button></a>
            </div>
            <div class="feature">
              Force-majeure<br>
              <span>Now on sale</span>
            </div>
          </li>
          <li class="list2">
            <div class="feature"></div>
          </li>
          <li class="list3">
            <div class="feature">
               Accessories
            </div>
            <div class="feature">
               New arrivals
            </div>
          </li>
        </ul>
        <!-- <% features.forEach(f=>{ %>
           <div class="feature">
            <%- f %>
            <a><button class="feature-btn">up to 40% off</button></a>
          </div> -->
        <!-- <% }) %> -->
      </section>
      <section class="main-contents">
        <p class="contents-title">Line up</p>
        <p class="collapse-btn-container">
          <button class="filter-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
          + add filter
          </button>
        </p>
        <div class="collapse" id="collapse">
           <ul class="filter-form">
            <li class="filter-form-list">
              <%- include("../partials/select.ejs",{data:categories}) %>
            </li>
            <li class="filter-form-list">
              <%- include("../partials/select.ejs",{data:type}) %>
            </li>
            <li class="filter-form-list">
              <%- include("../partials/slider.ejs") %>
            </li>
            <li class="filter-form-list">
              <button class="submit-btn">filter</button>
            </li>
           </ul>
        </div>
        <div class="sort-container">
           <select class="sort" name="sort">
              <option value="all">sort</optiom>
              <option value="price">low Price</option>
              <option value="date">new date</option>
              <option value="highRating">high rating</option>
            </select>
          </div>
          <div class="product-container"></div>
          <div class="footer"></div>
        </section>
      </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script type="module" src="../js/card.js"></script>
      <script type="module" src="../js/select.js"></script>
      <script type="module" src="../js/filter.js"></script>
</body>
</html>